<!DOCTYPE html>

<html>
<head>
    <title>CRUD</title>
           <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-oqVuAfXRKap7fdgcCY5uykM6+R9GqQ8K/uxy9rx7HNQlGYl1kPzQho1wx4JwY8wC" crossorigin="annonymous">
           <link rel=" stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class=" bg-info">
    <div class="row">
        <div class="col-md-6 offset-md-3" style="background-color:#fff;margin-top: 25px;padding:20px;">
            {{{body}}}
        </div>
    </div>
</body>
</html>
